<ion-card>
  <ion-card-header>
    <ion-card-title>{{ patient.FullName }}</ion-card-title>
    <ion-card-subtitle>Email :{{ patient.EmailId }}</ion-card-subtitle>
    <ion-card-subtitle>Phone :{{ patient.PhoneNumber }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <p>Age: {{ calculateAge(patient?.DOB) }}</p>
    <p>Doctor Assigned : {{ patient?.Doctor?.FullName }}</p>
    <p>Record Created Date : {{ patient?.CreatedAt ? (patient?.CreatedAt.toDate() | date) : "" }}</p>
  </ion-card-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  [appLocation]='patient.LatLng' enableSelection='false'>
      <ion-icon name="compass"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-card>
