<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ng-container *ngIf="(userService.isDoctor$ | async)">Doctor </ng-container>
      <ng-container *ngIf="(userService.isHospital$ | async)">Hospital </ng-container>
      <ng-container *ngIf="(userService.isPatient$ | async)">Patient </ng-container>
      <ng-container *ngIf="(userService.isFamily$ | async)">Family </ng-container>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-secondary content-center">
    <div class="col-grid">
      <!--trips-->
      <ion-card class="col-item" [routerLink]="['/patients']" *ngIf="(userService.isHospital$ | async)">
        <ion-icon name="infinite" color="secondary"></ion-icon>
        <img src="/assets/patient.png" alt="" />
        <div class="col-label">
          Patients
        </div>
      </ion-card>
      <ion-card class="col-item" [routerLink]="['/patients/' + user.Uid]" *ngIf="(userService.isDoctor$ | async)">
        <ion-icon name="infinite" color="secondary"></ion-icon>
        <img src="/assets/patient.png" alt="" />
        <div class="col-label">
          Your Patients
        </div>
      </ion-card>
      <ion-card class="col-item" [routerLink]="['/doctors']" *ngIf="(userService.isHospital$ | async)">
        <ion-icon name="infinite" color="secondary"></ion-icon>
        <img src="/assets/doctor.jpg" alt="" />
        <div class="col-label">
          Doctors
        </div>
      </ion-card>
      <ion-card class="col-item" (click)="openNotifications()" *ngIf="(userService.isHospital$ | async)">
        <!-- <ion-icon name="infinite" color='secondary'></ion-icon> -->
        <img src="/assets/alert.png" alt="" />
        <div class="col-label">
          Alert
        </div>
      </ion-card>
      <ion-card class="col-item" (click)="openNotifications()" *ngIf="(userService.isDoctor$ | async)">
        <!-- <ion-icon name="infinite" color='secondary'></ion-icon> -->
        <img src="/assets/alert.png" alt="" />
        <div class="col-label">
          Sent Items
        </div>
      </ion-card>
      <ion-card class="col-item" *ngIf="(userService.isPatient$ | async) || (userService.isFamily$ | async)" (click)="openNotifications()">
        <!-- <ion-icon name="infinite" color='secondary'></ion-icon> -->
        <img src="/assets/alert.png" alt="" />
        <div class="col-label">
          Notifications
        </div>
      </ion-card>
      <ion-card class="col-item" *ngIf="(userService.isFamily$ | async)" [routerLink]="['/patient/' + user.Patient?.Uid]">
        <!-- <ion-icon name="infinite" color='secondary'></ion-icon> -->
        <img src="/assets/patient.png" alt="" />
        <div class="col-label">
          Patient
        </div>
      </ion-card>
      <ion-card class="col-item" *ngIf="(userService.isDoctor$ | async)" [routerLink]="['/doctor/' + user.Uid]">
        <!-- <ion-icon name="infinite" color='secondary'></ion-icon> -->
        <img src="/assets/doctor.jpg" alt="" />
        <div class="col-label">
          Your Details
        </div>
      </ion-card>
      <ion-card class="col-item" *ngIf="(userService.isPatient$ | async)" [routerLink]="['/patient/' + user.Uid]">
        <!-- <ion-icon name="infinite" color='secondary'></ion-icon> -->
        <img src="/assets/family.png" alt="" />
        <div class="col-label">
          Your Details
        </div>
      </ion-card>
      <!---->
      <ion-card class="col-item" (click)="onLogOut()">
        <ion-icon name="log-out" color="danger"></ion-icon>
        <div class="col-label">
          Log Out
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
<app-drawer [options]="drawerOptions" *ngIf="(userService.isDoctor$ | async)" #drawer>
  <app-device-connect [drawer]="drawer"></app-device-connect>
</app-drawer>
